:root{
    --c01: #C2B280;
    --c02: #fff;
    --c03: #157347;
    --c04: #FBFF00;
    --c05: #FF0000;
    --c06: #000;
    --c07: #8D6E63;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--c02);
    margin: 0;
    border: 0;
}

/* Container */
.lista-container {
    max-width: 600px;
    margin: 40px auto;
    background: var(--c02);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.lista-item {
    display: flex;
    justify-content: space-between;
    /* padding: 12px; */
    border-bottom: 1px solid var(--c07);
}

.lista-item:last-child {
    border-bottom: none;
}

/* Nome */
.nome {
    font-weight: bold;
    color: var(--c06);
}

/* Data */
.validade {
    color: var(--c07);
    font-size: 14px;
}

.botao{
    border: 0;
    padding: 10px;
    background-color:var(--c07);
    border-radius:5px; 
    color: var(--c02);
    font-size: 1.2rem;
    font-weight: bold;
    width: 640px;
    text-align: center;
}

.form{
    display: flex;
    justify-content: center;
}