@charset "UTF-8";

:root{
    --c01: #C2B280;
    --c02: #fff;
    --c03: #157347;
    --c04: #FBFF00;
    --c05: #FF0000;
    --c06: #000;
    --c07: #8D6E63;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
}

td{
    padding: 5px 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.voltar{
    background-color: var(--c07);
    border: none;
    padding: 5px 190px;
    margin-top: 10px;
    color: var(--c02);
    border-radius: 5px;
    font-size: 1rem;
}